{% extends 'base.html' %}

{% block content1 %}
<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Welcome to Vibhuti's Bookstore</a>
        <form class="form-inline">
            <a href="{% url 'add' %}"   class="btn btn-outline-success my-2 my-sm-0">Register</a>
            <a href="{% url 'newbook' %}"   class="btn btn-outline-success my-2 my-sm-0">+</a>
        </form>
</nav>
{% endblock %}

{% block content %}
<h1>BOOKS</h1>
<div class="row">
    {% for book in books %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ book.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ book.name }}</h5>
                <p class="card-text">{{ book.price }}</p>
                <a href="{% url 'cart' %}" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}